.contact-form {
	padding: 32px 0 47px;
	font-size: 15px;
	line-height: 24px;
	font-weight: 300;

	@include breakpoint(tablet) {
		padding: 77px 0 80px;
		font-size: 9px;
		line-height: 14px;
	}

	@include breakpoint(1440px) {
		padding: 100px 0;
		font-size: 15px;
		line-height: 19px;
	}

	@include breakpoint(1700px) {
		padding: 42px 0 305px;
		font-size: 20px;
		line-height: 30px;
	}

	&__heading {
		margin-bottom: 30px;

		@include breakpoint(tablet) {
			margin-bottom: 47px;
		}

		@include breakpoint(1440px) {
			margin-bottom: 68px;
		}

		@include breakpoint(1700px) {
			margin-bottom: 87px;
		}

		h3 {
			font-size: 24px;
			line-height: 29px;
			display: flex;
			font-weight: 700;
			margin: 0 0 29px;
			justify-content: space-between;
			align-items: center;
			text-transform: uppercase;

			@include breakpoint(tablet) {
				font-size: 20px;
				line-height: 24px;
				margin: 0 0 41px;
			}

			@include breakpoint(1440px) {
				font-size: 27px;
				line-height: 33px;
				margin: 0 0 58px;
			}

			@include breakpoint(1700px) {
				font-size: 65px;
				line-height: 80px;
				margin: 0 0 22px;
			}			

			a {
				font-size: 13px;
				line-height: 15px;
				font-weight: 600;
				text-transform: none;

				@include breakpoint(tablet) {
					font-size: 12px;
					line-height: 14px;
				}	

				@include breakpoint(1440px) {
					font-size: 17px;
					line-height: 20px;
				}

				@include breakpoint(1700px) {
					font-size: 25px;
					line-height: 28px;
				}
			}
		}

		p {
			font-weight: 300;

			@include breakpoint(1700px) {
				letter-spacing: -1px;
			}
		}
	}

	&__inner {
		@include breakpoint(tablet) {
			display: flex;
		}

		h5 {
			font-size: 20px;
			line-height: 30px;
			font-weight: 600;
			margin: 0 0 24px;
			color: #505050;

			@include breakpoint(tablet) {
				font-size: 12px;
				line-height: 15px;
				margin: 0 0 16px;
			}

			@include breakpoint(1440px) {
				font-size: 16px;
				line-height: 20px;
				margin: 0 0 26px;
			}

			@include breakpoint(1700px) {
				font-size: 25px;
				margin: 0 0 30px;
			}
		}

		h4 {
			font-size: 20px;
			line-height: 22px;
			font-weight: 600;
			color: $primary;
			margin: 0 0 16px;
			text-transform: uppercase;

			@include breakpoint(tablet) {
				font-size: 16px;
				line-height: 18px;
				margin: 6px 0 20px;
			}

			@include breakpoint(1440px) {
				margin: 9px 0 36px;
			}

			@include breakpoint(1700px) {
				font-size: 25px;
				margin: 0 0 20px;
			}
		}

		input,
		select,
		textarea {
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			background: #FAFAFA;
			width: 100%;
			border-radius: 0;
			margin: 0 0 24px;
			font-size: 12px;
			line-height: 38px;

			@include breakpoint(tablet) {
				margin: 0 0 18px;
				font-size: 10px;
				line-height: 17px;
			}

			@include breakpoint(1440px) {
				margin: 0 0 30px;
				font-size: 14px;
				line-height: 38px;
			}

			@include breakpoint(1700px) {
				margin: 0 0 58px;
				font-size: 20px;
			}
		}

		input,
		textarea {
			padding: 10px 13px;

			@include breakpoint(tablet) {
				padding: 11px 12px 10px 12px;
			}

			@include breakpoint(1440px) {
				padding: 8px 12px;
			}

			@include breakpoint(1700px) {
				padding: 15px 16px;
			}
		}

		textarea {
			height: 185px;
		}

		select {
			padding: 20px 13px;

			@include breakpoint(tablet) {
				padding: 12px 12px;
			}

			@include breakpoint(1440px) {
				padding: 18px 12px 17px 12px;
			}

			@include breakpoint(1700px) {
				padding: 24px 16px;
			}
		}

		button {
			width: 100%;
			border-radius: 4px;
			margin-top: 10px;
			text-transform: uppercase;

			@include breakpoint(tablet) {
				margin-top: 0;
				font-size: 11px;
				line-height: 13px;
				padding: 17px;
			}

			@include breakpoint(1440px) {
				font-size: 15px;
				line-height: 18px;
				padding: 26px;
			}

			@include breakpoint(1700px) {
				font-size: 22px;
				line-height: 28px;
				padding: 33px 20px;
			}
		}
	}

	&__left {
		@include breakpoint(tablet) {
			width: 50%;
			padding-right: 24px;
		}

		@include breakpoint(1440px) {
			padding-right: 44px;
		}

		@include breakpoint(1700px) {
			padding-right: 49px;
		}
	}

	&__right {
		@include breakpoint(tablet) {
			width: 50%;
			padding-left: 24px;
			padding-top: 80px;
		}

		@include breakpoint(1440px) {
			padding-left: 44px;
			padding-top: 185px;
		}

		@include breakpoint(1700px) {
			padding-left: 49px;
			padding-top: 185px;
		}

		p {
			margin: 0 0 16px;
			font-weight: 500;

			@include breakpoint(tablet) {
				font-size: 10px;
				line-height: 18px;
				margin: 0 0 50px;
			}

			@include breakpoint(1440px) {
				font-size: 14px;
				line-height: 24px;
				margin: 0 0 30px;
			}

			@include breakpoint(1700px) {
				font-size: 20px;
				line-height: 30px;
				margin: 0 0 17px;
			}
		}

		textarea {
			@include breakpoint(tablet) {
				height: 179px;
				margin-bottom: 10px;
			}

			@include breakpoint(1440px) {
				height: 265px;
				margin-bottom: 13px;
			}

			@include breakpoint(1700px) {
				margin-bottom: 10px;
				height: 350px;
			}
		}
	}
}