.culture {
  @extend %section-padding;

  @include breakpoint-down(767px) {
    padding-top: 0;
  }

  .btn {
    font-size: 17px;
  }

  &__heading {
    position: relative;
    z-index: 1;

    figure {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 1;
        border: 0;
        object-position: bottom;

        &.culture__bg-pc {
          @include breakpoint-down(767px) {
            display: none;
          }
        }

        &.culture__bg-sp {
          @include breakpoint(tablet) {
            display: none;
          }
        }
      }
    }

    &--inner {
      min-height: 560px;
      display: flex;
      align-items: center;

      @include breakpoint(1440px) {
        min-height: 624px;
      }

      @include breakpoint(1700px) {
        min-height: 910px;
      }
    }

    h2 {
      font-size: 20px;
      line-height: 28px;
      font-weight: 700;
      margin: 0;
      color: var(--white);
      max-width: 1300px;
      text-transform: uppercase;

      @include breakpoint(tablet) {
        font-size: 32px;
        line-height: 42px;
      }

      @include breakpoint(1440px) {
        font-size: 48px;
        line-height: 57px;
      }

      @include breakpoint(1700px) {
        font-size: 70px;
        line-height: 70px;
      }
    }
  }

  &__list {
    margin-top: -140px;
    z-index: 9;
    position: relative;

    @include breakpoint(tablet) {
      display: flex;
      margin: -185px -8px 0;
    }

    @include breakpoint(tablet) {
      margin: -185px -22px 0;
    }
  }

  &__item {
    @include breakpoint(tablet) {
      padding: 0 8px;
      width: 25%;
    }

    @include breakpoint(1700px) {
      padding: 0 22px;
    }

    + .culture__item {
      @include breakpoint-down(767px) {
        margin-top: 32px;
      }
    }

    &--inner {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      // background: $white;
    }

    h3 {
      font-size: 20px;
      line-height: 22px;
      // background: rgba(5, 143, 213, 0.85);
      background: rgba(0,161,241,.85);
      padding: 24px 26px 26px;
      color: $white;
      text-align: center;
      margin-bottom:0;

      @include breakpoint(tablet) {
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        min-height: 88px;
        padding: 20px 17px;
        display: flex;
        align-items: center;
      }

      @include breakpoint(1440px) {
        font-size: 20px;
        line-height: 30px;
        min-height: 120px;
        padding: 20px 25px;
      }

      @include breakpoint(1700px) {
        font-size: 28px;
        line-height: 33px;
        padding: 44px 37px 28px;
        min-height: 135px;
      }
    }

    p {
      font-size: 13px;
      line-height: 24px;
      padding: 24px 16px;
      min-height: 160px;
      font-weight: 500;
      margin: 0;
      background:$white;

      @include breakpoint(tablet) {
        font-size: 11px;
        line-height: 17px;
        padding: 19px 23px;
        min-height: 179px;
      }

      @include breakpoint(1440px) {
        font-size: 16px;
        line-height: 30px;
        min-height: 246px;
        padding: 26px 32px;
      }

      @include breakpoint(1700px) {
        font-size: 18px;
        line-height: 30px;
        padding: 29px 37px;
        min-height: 270px;
      }
    }
  }

  &__bottom {
    text-align: center;
    margin-top: 40px;

    @include breakpoint(tablet) {
      margin-top: 33px;
    }

    @include breakpoint(1440px) {
      margin-top: 60px;
    }

    @include breakpoint(1700px) {
      margin-top: 80px;
    }
  }
}
