.download {
  padding: 60px 0;
  text-align: center;

  @include breakpoint(tablet) {
    padding: 80px 0 50px;
  }

  @include breakpoint(1440px) {
    padding: 100px 0 70px;
  }

  @include breakpoint(1700px) {
    padding: 120px 0 60px;
  }

  .container {
    > p {
      font-size: 15px;
      line-height: 26px;
      font-weight: 500;
      margin: 0;
      color: var(--blue-gray);

      @include breakpoint(tablet) {
        font-size: 20px;
        line-height: 28px;
      }

      @include breakpoint(1440px) {
        font-size: 26px;
        line-height: 28px;
      }
    }
  }

  .section__heading {
    h3 {
      @include breakpoint(1700px) {
        margin-bottom: 80px;
      }
    }

    h4 {
      max-width: 1010px;
      margin: 0 auto;
    }
  }

  &__inner {
    margin-bottom: 10px;

    @include breakpoint(tablet) {
      display: flex;
      margin: 0 -20px 45px;
      justify-content: space-between;
    }

    @include breakpoint(1440px) {
      margin: 0 -20px 56px;
    }

    @include breakpoint(1700px) {
      margin: 0 -20px 64px;
    }
  }

  &__item {
    margin-bottom: 32px;

    @include breakpoint(tablet) {
      width: 25%;
      padding: 0 20px;
      max-width: 330px;
      margin: 0;
    }

    figure {
      margin-bottom: 16px;

      @include breakpoint(1024px) {
        min-height: 272px;
      }

      @include breakpoint(1440px) {
        min-height: 330px;
      }

      img {
        max-width: 190px;
        width: 100%;
        border: 1px solid rgba(0,0,0, .2);

        @include breakpoint(1440px) {
          max-width: 230px;
        }
      }
    }

    h3 {
      font-size: 21px;
      line-height: 25px;
      font-weight: 500;
      margin: 0 0 6px;
      color: var(--blue-gray);

      @include breakpoint(tablet) {
        font-size: 16px;
        line-height: 20px;
      }

      @include breakpoint(1440px) {
        font-size: 21px;
        line-height: 25px;
      }
    }

    a {
      font-size: 17px;
      line-height: 24px;
      font-weight: 500;
      color: var(--primary);

      @include breakpoint(tablet) {
        font-size: 16px;
        line-height: 20px;
      }

      @include breakpoint(1440px) {
        font-size: 17px;
        line-height: 24px;
      }
    }
  }
}
