.insights {
  padding: 0 0 70px;
  position: relative;
  z-index: 9;

  @include breakpoint(tablet) {
    padding: 0 0 80px;
  }

  @include breakpoint(1440px) {
    padding: 0 0 100px;
  }

  @include breakpoint(1700px) {
    padding: 0 0 120px;
  }

  .swiper-container {
    @include breakpoint(tablet) {
      overflow: visible;
    }
  }

  .swiper-wrapper {
    display: flex;
  }

  .section__title {
    h3 {
      font-weight: 600;
    }
  }

  .container {
    @include breakpoint-down(1023px) {
      padding: 0;
    }
  }

  &__list {
    margin: 0;
    padding-left: 20px;

    @include breakpoint(1024px) {
      margin: 0 -10px;
      padding: 0;
    }

    &:not(.insights__list--slider) {
      @include breakpoint-down(767px) {
        padding: 0 30px;
        margin: 0;
      }

      @include breakpoint(tablet) {
        display: flex;
      }

      .insights__item {
        height: initial!important;
        @include breakpoint-down(767px) {
          padding: 0;
        }

        @include breakpoint(tablet) {
          width: 25%;
        }

        + .insights__item {
          @include breakpoint-down(767px) {
            margin-top: 52px;
          }
        }
      }
    }
  }

  &__item {
    height: auto;
    padding: 10px;
    font-size: 13px;

    @include breakpoint(tablet) {
      font-size: 16px;
    }

    &--inner {
      padding: 0 15px 90px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
      height: 100%;
      position: relative;

      @include breakpoint(tablet) {
        padding: 0 7px 45px 11px;
      }

      @include breakpoint(1440px) {
        padding: 0 23px 100px 14px;
      }

      @include breakpoint(1700px) {
        padding: 0 28px 115px 15px;
      }
    }

    figure {
      position: relative;
      padding-top: 62%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.44);
      margin: 0 -15px 20px;

      @include breakpoint(tablet) {
        margin: 0 -7px 11px -11px;
        padding-top: 75%;
      }

      @include breakpoint(1440px) {
        margin: 0 -23px 16px -14px;
        padding-top: 62%;
      }

      @include breakpoint(1700px) {
        margin: 0 -28px 20px -15px;
        padding-top: 70%;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 1;
        border: 0;
        object-position: bottom;
      }
    }

    h3 {
      font-size: 14px;
      color: $primary;
      line-height: 20px;
      margin-bottom: 20px;
      font-weight: 600;

      @include breakpoint(tablet) {
        font-size: 12px;
        margin-bottom: 5px;
        line-height: 18px;
      }

      @include breakpoint(1440px) {
        font-size: 16px;
        margin-bottom: 25px;
        line-height: 20px;
      }

      span {
        @media (min-width: 768px) and (max-width: 1439px) {
          display: none;
        }
      }
    }

    h4 {
      font-size: 16px;
      line-height: 1.55;
      color: var(--dark-blue);
      margin-bottom: 20px;
      font-weight: 600;

      @include breakpoint(tablet) {
        font-size: 18px;
        margin-bottom: 16px;
        min-height: 54px;
      }

      @include breakpoint(1440px) {
        font-size: 18px;
        margin-bottom: 25px;
        min-height: 0;
      }

      span {
        @media (min-width: 768px) and (max-width: 1439px) {
          display: none;
        }
      }
    }

    p {
      font-size: 13px;
      line-height: 24px;

      @include breakpoint(tablet) {
        font-size: 10px;
        line-height: 18px;
      }

      @include breakpoint(1440px) {
        font-size: 16px;
        line-height: 28px;
      }
    }

    &--bottom {
      display: flex;
      justify-content: space-between;
      position: absolute;
      z-index: 1;
      left: 15px;
      right: 15px;
      bottom: 25px;
      align-items: center;

      @include breakpoint(tablet) {
        right: 8px;
        bottom: 13px;
        left: 11px;
      }

      @include breakpoint(1440px) {
        right: 28px;
        bottom: 27px;
        left: 15px;
      }

      .share-group {
        svg {
          @media (min-width: 768px) and (max-width: 1439px) {
            max-width: 13px;
          }
        }
      }
    }

    &--button {
      font-size: 13px;
      line-height: 18px;
      font-weight: 500;

      @include breakpoint(tablet) {
        font-size: 9px;
        line-height: 14px;
      }

      @include breakpoint(1440px) {
        font-size: 16px;
        line-height: 23px;
      }

      @include breakpoint(1700px) {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}
