.thankyou-section {
	padding: 30px 0;

	@include breakpoint(tablet) {
		padding: 40px 0;
	}

	@include breakpoint(1440px) {
		padding: 50px 0;
	}

	@include breakpoint(1700px) {
		padding: 60px 0;
	}

	h3 {
		font-size: 20px;
		line-height: 32px;
		text-transform: uppercase;
		margin: 0 0 16px;
		text-align: center;

		@include breakpoint(tablet) {
			font-size: 22px;
			line-height: 25px;
			text-align: left;
			margin: 0 0 26px;
		}

		@include breakpoint(1440px) {
			font-size: 28px;
			line-height: 60px;
			margin: 0 0 29px;
		}

		@include breakpoint(1700px) {
			font-size: 36px;
			line-height: 41px;
			margin: 0 0 35px;
		}

		span {
			color: $primary;
		}
	}

	p {
		font-size: 13px;
		line-height: 24px;
		font-weight: 500;

		@include breakpoint(tablet) {
			font-size: 14px;
			line-height: 24px;
		}

		@include breakpoint(1440px) {
			font-size: 20px;
			line-height: 32px;
		}

		@include breakpoint(1700px) {
			font-size: 23px;
			line-height: 36px;
		}
	}
}